@import "login.css";
@import "navbarFooter.css";
@import "about.css";
@import "ingredients.css";
@import "recipeCard.css";
/* @import "favorite.css"; */


body {
    margin-top: 0px !important;
    height: 100vh;
    font-size: 16px;
}



#indexBackground {
    background-image: url("/images/indexBg.jpg");
    background-size: 100% 100%;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 145px);
    z-index: -5;
}

#indexContainer {
    color: #efefef;
    margin-top: 30vh;
}

#mainSupportedContent{
    background-color: rgb(242, 242, 242);
    height: 102vh;
}

#recipesIngredientContainer{
    color: #efefef;
}

#recipeNutritionQuickview{
    display: flex;
    gap: 5%;
}

#sidebarSupportedContent{
    background-color:  rgb(0 80 64);
    height: 102vh;
}

#sidebarToggler{
    color: rgba(255, 255, 255, 0.55);
    background-color: rgb(0, 80, 64);
}



.equipmentImage {
    max-width: 100% !important;
    max-height: 100% !important;
}


.favoriteBtn{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;

}
.favoriteBtnOuterRecipe{
    color: black;
    font-size: 48px;
}
.favoriteBtnInnerRecipe{
    float: left;
    position: absolute;
    left: 13px;
    top: 13px;
    z-index: 1001;
    font-size: 38px;
}
.favoriteBtnOuterIngredient{
    color: black;
    font-size: 32px;
}
.favoriteBtnInnerIngredient{
    float: left;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1001;
    font-size: 24px;
}
.favoriteBtnFavorite{
    color: #efefef;
}
.favoriteBtnFavorite:hover{
    color: #93DFA7;
}
.favoriteBtnUnfavorite{
    color: #93DFA7;
}
.favoriteBtnUnfavorite:hover{
    color: #efefef;
}

.percentageBarBackground {
    height:15px;
    background-color: white;
}
.percentageBarInside {
    height:100%;
    max-width: 100%;
}
.percentageBarGood {
    background-color: green;
}
.percentageBarBad {
    background-color: red;
}

.recipesIngredientCard{
    background-color: rgba(239, 239, 239, 0.1);
}

.smallScreenOnly{
    display: none;
}




@media only screen and (max-height: 500px) {
    #indexContainer {
        margin-top: 20vh;
    }
}

@media only screen and (max-height: 350px) {
    #indexContainer {
        margin-top: 10vh;
    }
}



/* @medias for the search in the navbar */
@media only screen and (max-width: 1121px) {
    #search-input{
        max-width: 150px;
    }
}
@media only screen and (max-width: 1094px) {
    #search-input{
        max-width: 120px;
    }
}
@media only screen and (max-width: 1060px) {
    #search-input{
        max-width: 90px;
    }
}
@media only screen and (max-width: 1027px) {
    #search-input{
        max-width: 60px;
    }
}


/* @media to show the sidebar again if it's collapsed but the screen gets wider */
@media only screen and (min-width: 768px) {
    #sidebarSupportedContent{
        display: inline-block;
    }
}


/* @media to show the sidebar collapse button when the screen gets thinner */
@media only screen and (max-width: 767px) {
    .smallScreenOnly{
        display: inline-block;
    }
}




/* Bootstrap overrides */
.bg-primary {
    background-color: #7DBE8E !important;
}
.bg-light {
    background-color: #f2f2f2 !important;
}

.btn-primary {
    background-color: #7DBE8E;
    border-color: #4F7759;
}
.btn-primary:hover {
    background-color: #6FA87E;
    border-color: #4F7759;
}

.nav-link {
    color: #efefef !important;
}
.nav-link:hover {
    color: #ffffff !important;
}

.text-light{
    color: #efefef;
}
.text-primary{
    color: #6FA87E !important;
}



.fa-question-circle{
    cursor: pointer;
}

